@using CMS.DocumentEngine.Types
@using CCC.Helpers
@using CCC.Models

@model CCC.Models.EventsPage

@{
    Layout = "~/Views/_Default.cshtml";
    ViewBag.PageTitle = "Events";
}

@*Page Sections*@
@{
    //Get Page
    var page = PageProvider.GetPage("/Pages/Events", SiteHelpers.SiteCulture, SiteHelpers.SiteName).FirstOrDefault();

    //Process Each Section
    foreach (var sect in page.Sections)
    {
        Html.RenderAction("Index", "PageSection", new { section = sect });
    }
}

<a name="all-events"></a>
@*Events Table*@
@{ 
    //Get Calendar Collection 
    var events = CCB.PublicCalendar.GetEvents(Model.List.StartDate, Model.List.EndDate);
}

<div name="all-events" class="[ content-section transparent ] [ grid__item one-whole ]">
    <div class="content-wrapper">
        <div class="section-title">More Events</div>
        <div class="section-description">
            Here&rsquo;s everything happening from 
            <a id="calendar-select" href="#">@Model.List.StartDate.ToString("MMM d") to @Model.List.EndDate.ToString("MMM d").</a>
            <span id="calendar-range" class="[ css3-metro-dropdown auto ] hidden">
                <select id="calendar-change">
                    @{
                        DateTime optionStartDate = new DateTime();
                        DateTime optionEndDate = DateTime.Now.AddMonths(-2).AddDays(-1);                    //Give the option to go back once

                        for (int i = 0; i < 13; i++)
                        {
                            optionStartDate = optionEndDate;
                            optionEndDate = optionStartDate.Add(EventsPage.EventList.defaultSpan);

                            string url = string.Format("/events/{0}/{1}",
                                optionStartDate.ToString("yyyy-MM-dd"),
                                optionEndDate.ToString("yyyy-MM-dd"));

                            <option value="@url" @{ if (optionStartDate.Date == Model.List.StartDate.Date) { <text>selected</text> } }>
                                @optionStartDate.ToString("MMM d") to @optionEndDate.ToString("MMM d")
                            </option>
                        }
                    }
                </select>
            </span>
            <br />
            If you&rsquo;re looking for something specific, try searching for a keyword or by campus.
        </div>

        @{ Html.RenderPartial("_EventTable", events); }

        <div class="section-description">
            <a href="/groups">Looking for a group that meets week-in and week-out?</a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var triggerSelector = "#calendar-select";
        var selectSelector = "#calendar-range";
        var calendarSelectSelector = "#calendar-change";

        $(document).ready(function() {
            //Trigger Select Box Reveal
            $(triggerSelector).click(function(e) {
                e.preventDefault();

                $(this).hide();

                $(selectSelector).css("display", "inline-block");
            });

            //Trigger New Page
            $(calendarSelectSelector).change(function() {
                var url = location.protocol + "//" + location.hostname + $(calendarSelectSelector).val();
                window.location = url;
            });
        });
    </script>
}
