@using CMS.DocumentEngine.Types

@model StaffTeamMember


--><div class="add-bottom-margin [ grid__item one-quarter lap--one-half palm--one-whole ]">
    <a href="@Model.Person.RouteUrl">
        <div class="profile-photo">
            @{
                if (!(Guid.Empty == Model.Person.Photo))
                {
                    <img class="img-cover" alt="" src="@Url.Kentico().Attachment(Model.Person.Fields.Photo)" />
                }
            }
        </div>
    </a>
    <div class="justify-content">
        <div>
            <div class="section-subtitle left-justify no-bottom-margin">
                <a href="@Model.Person.RouteUrl">@Model.Person.FullName</a>
            </div>
            <div>
                @Model.Title
            </div>
        </div>
        <div>
            <a href="mailto:@Model.Person.Email"><i class="fa fa-envelope fa-2x"></i></a>
        </div>
    </div>
</div><!--
