@using CCC.Models

@model SearchResults

@{
    Layout = "~/Views/_Default.cshtml";
}

<div class="[ content-section transparent ] [ grid__item one-whole ]">
    <div class="content-wrapper">
        @if (Model.Items == null)
        {
            if (!string.IsNullOrWhiteSpace(Model.Query))
            {
                <div class="section-title">
                    Hmm&hellip; We didn&rsquo;t find anything for <i>@Model.Query</i>
                </div>

                <div class="section-description">
                    Maybe try <a onclick="CCChapel.openSearch()">searching for something else</a>, 
                    or feel free to <a href="/contact-us">contact us directly</a>.
                </div>
            }
        }
        else
        {
            <div class="section-title">
                We found @Model.ItemCount 
                result@{ if (Model.ItemCount > 1) { <text>s</text> } }
                for <i>@Model.Query</i>
            </div>

            foreach (var item in Model.Items)
            {
                <a href="@item.ItemUrl()">@item.Title</a>
            }
        }
    </div>
</div>

