@using CMS.DocumentEngine.Types

@model Sermon

--><div class="[ cross-sell__item ] [ grid__item one-third lap--one-half palm--one-whole ]">
    <input id="embedHtml--@Model.NodeGUID" type="hidden" value="@Model.EmbedHtml" />

    <a href="@Url.RouteUrl(Model.RouteValues)" class="cross-sell--@Model.NodeGUID" @{ if (Model.HasVideo) { <text>data-isVideo="true"</text>} }>
        <div class="[ cross-sell__image @Model.MessageSeries.Background.Fields.ImagePositioning ] [ one-whole ] [ @Model.MessageSeries.Background.Fields.ImageTextColor ]"
            style="background-image: url(@Url.Kentico().Attachment(Model.MessageSeries.Background.Fields.ImageFile))">
            @{
                if (Model.HasVideo)
                {
                    <div class="cross-sell__video-controls center-vertically">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-play fa-stack-1x"></i>
                        </span>
                    </div>
                }
            }
        </div>
    </a>

    <a href="@Url.RouteUrl(Model.RouteValues)">
        <div class="cross-sell__name [ one-whole ]">
            @ViewData["crossSellTitle"]
        </div>

        <div class="cross-sell__details [ one-whole ]">
            @Html.Raw(ViewData["crossSellDescription"])
        </div>
    </a>

    <script>
        $(document).ready(function () {
            //Play Video Click
            $(".cross-sell--@Model.NodeGUID" + "[data-isVideo='true']").click(function (e) {
                e.preventDefault();

                var html = $("#embedHtml--@Model.NodeGUID").val();

                CCChapel.showVideo({
                    videoMarkup: html
                });
            });
        });
    </script>
</div><!--
          
      
