@using CMS.DocumentEngine;
@using CMS.DocumentEngine.Types
@using CCB;
@using CCC.Helpers

@model CcbEvent

@{
    Layout = "~/Views/_Default.cshtml";
    ViewBag.PageTitle = Model.EventName;
}

<div class="event-details [ content-section transparent no-bottom-margin ] [ grid__item one-whole ]">
    <div class="content-wrapper lock-width">
        <div class="grid">
            <div class="left-column [ grid__item one-third portable--one-whole ]">
                <div class="event-details__image"
                     style="background-image: url(@Url.Kentico().Attachment(Model.GraphicAttachment))">
                </div>

                @{ Html.RenderPartial("_RegistrationButton"); }

                <div class="event-details__social">
                    <div class="grid">
                        @{ Html.RenderPartial("_SocialSharing"); }
                    </div>
                </div>
            </div><!--

         --><div class="right-column [ grid__item two-thirds portable--one-whole ]">
                <div class="add-bottom-margin">
                    <div class="event-details__name">
                        @Model.EventName
                    </div>

                    <div class="event-details__date">
                        @*Friday, Feb. 5, 12 &amp; 19 | 7-9:30 p.m.*@
                        <ul class="horizontal-list">
                            <li>@{
                                    if (!string.IsNullOrWhiteSpace(Model.EventDateDescription))
                                    {@Model.EventDateDescription}
                                    else
                                    {<text>@Model.StartDateTime.ToDateRangeString(Model.EndDateTime)</text>}
                                }</li><!--
                         --><li>@Html.Raw(Model.StartDateTime.ToTimeRangeString(Model.EndDateTime))</li>
                        </ul>
                    </div>

                    <div class="event-details__location">
                        <a href="#">
                            @{
                                if (!string.IsNullOrWhiteSpace(Model.EventLocationName))
                                {
                                    @Model.EventLocationName
                                }
                                else
                                {
                                    @Model.CcbEventData.Location.ToAddressString()
                                }
                            }
                            <i class="fa fa-map"></i>
                        </a>
                    </div>

                    <div id="event-details__map" class="event-details__map"></div>
                </div>

                <div class="event-details__details">
                    @Html.Raw(Model.Description)

                    @{
                        if (Model.CcbEventData.Organizer.CCBID.HasValue)
                        {
                            <p class="accent">
                                <a href="mailto:@Model.CcbEventData.GetOrganizer().Email">Questions?</a>
                            </p>
                        }
                    }
                </div>
            </div>
        </div> <!-- /grid -->
    </div> <!-- /content-wrapper -->
</div> <!-- /event-details -->

@{ 
    if (Model.Fields.EventRelatedItems.Any())
    {
        @:<div class="[ content-section no-bottom-margin light-gray ] [ grid__item one-whole ]">
           @:<div class="content-wrapper">
             @:<div class="section-title add-bottom-margin">You Might Also Be Interested In&hellip;</div>
                @:<div class="grid grid--center"><!--

        //Add Items
        foreach (var item in Model.Fields.EventRelatedItems)
        {
            var controller = "";
            var guid = "";
            var title = "";
            var description = "";

            //Get Page by Type
            if (item.ClassName == Sermon.CLASS_NAME)
            {
                var csItem = SermonProvider.GetSermon(item.NodeGUID, SiteHelpers.SiteCulture, SiteHelpers.SiteName);

                if (csItem.Any())
                {
                    var page = csItem.FirstOrDefault();

                    controller = "Message";
                    guid = page.NodeGUID.ToString();
                    title = String.Format("{0} - {1}", page.MessageSeries.SeriesTitle, page.Fields.MessageTitle);
                    description = page.MessageDate.ToShortDateString();
                }
            }
            else if (item.ClassName == Series.CLASS_NAME)
            {
                var csItem = SeriesProvider.GetSeries(item.NodeGUID, SiteHelpers.SiteCulture, SiteHelpers.SiteName);

                if (csItem.Any())
                {
                    var page = csItem.FirstOrDefault();

                    controller = "MessageSeries";
                    guid = page.NodeGUID.ToString();
                    title = page.Fields.Title;
                    description = page.Fields.Description;
                }
            }
            else if (item.ClassName == CcbEvent.CLASS_NAME)
            {
                var csItem = CcbEventProvider.GetCcbEvent(item.NodeGUID, SiteHelpers.SiteCulture, SiteHelpers.SiteName);

                if (csItem.Any())
                {
                    var page = csItem.FirstOrDefault();
                    controller = "Event";
                    guid = page.NodeGUID.ToString();
                    title = page.Fields.EventName;

                    if (!string.IsNullOrWhiteSpace(page.EventDateDescription))
                    {
                        description = page.EventDateDescription;
                    }
                    else
                    {
                        description = page.StartDateTime.ToDateRangeString(page.EndDateTime);
                    }
                }
            }
            else if (item.ClassName == CMS.DocumentEngine.Types.Page.CLASS_NAME)
            {
                var csItem = PageProvider.GetPage(item.NodeGUID, SiteHelpers.SiteCulture, SiteHelpers.SiteName);

                if (csItem.Any())
                {
                    var page = csItem.FirstOrDefault();

                    controller = "Page";
                    guid = page.NodeGUID.ToString();
                    title = page.Fields.Name;
                    description = page.Fields.SocialDescription;
                }
            }

            if (!String.IsNullOrWhiteSpace(controller))
            {
                Html.RenderAction("CrossSell", controller, new { guid = guid, title = title, description = description });
            }
        }

                @:--></div>
            @:</div>
        @:</div>
    }
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".event-details__location a").click(function (e) {
                e.preventDefault();

                //Show Map Section
                $(".event-details__map").slideToggle(250, function () {
                    if ($(this).height() > 0) {
                        var location = [{
                            name: "@Model.EventLocationName",
                            streetAddress: "@Model.CcbEventData.Location.ToAddressString()",
                            info: CCChapel.createMapInfo(
                                "@Model.EventLocationName",
                                "@Model.CcbEventData.Location.ToAddressString()",
                                "https://www.google.com/maps/dir//@Model.CcbEventData.Location.ToAddressString().Replace(' ', '+')")
                        }];

                        //Load Map
                        CCChapel.createMap("event-details__map", {
                            markers: location,
                            fitAllMarkers: true
                        });
                    }
                });
            });
        });
    </script>
}


